<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encerrar Votação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Encerrar Votação</h1>
        <form method="post" action="{% url 'encerrar_votacao' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="eleicao_id">Selecione o Local</label>
                <select class="form-control" id="eleicao_id" name="eleicao_id">
                    {% for eleicao in eleicoes %}
                    <option value="{{ eleicao.id }}">{{ eleicao.local_eleicao }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Encerrar Votação</button>
        </form>
    </div>
</body>
</html>
