<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Candidatos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Candidatos</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>                
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for candidato in candidatos %}
                    <tr>
                        <td>{{ candidato.nome }}</td>
                        <td>{{ candidato.cpf }}</td>
                        <td>{{ candidato.endereco }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cadastrar_candidato' %}" class="btn btn-primary">Cadastrar Candidato</a>
        <a href="{% url 'pagina_inicial' %}" class="btn btn-primary">Retornar a Página Inicial</a>
    </div>
</body>
</html>
