<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Chapas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Chapas</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Eleição</th>
                </tr>
            </thead>
            <tbody>
                {% for chapa in chapas %}
                    <tr>
                        <td>{{ chapa.nome_chapa }}</td>
                        <td>{{ chapa.eleicao.local_eleicao}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cadastrar_chapa' %}" class="btn btn-primary">Cadastrar Chapa</a>
    </div>
</body>
</html>
