<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eleições</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Eleições</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Data</th>
                    <th>Local</th>
                    <th>Data de Início</th>
                    <th>Data de Término</th>
                </tr>
            </thead>
            <tbody>
                {% for eleicao in eleicoes %}
                    <tr>
                        <td>{{ eleicao.data_eleicao }}</td>
                        <td>{{ eleicao.local_eleicao }}</td>
                        <td>{{ eleicao.hora_inicial }}</td>
                        <td>{{ eleicao.hora_final }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cadastrar_eleicao' %}" class="btn btn-primary">Cadastrar Eleição</a>
    </div>
</body>
</html>
